<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/style_2.css">
</head>

<body>
    <div class="main">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item"> Home </a>
                        {% if not session.is_authenticated %}
                        <a href="{{ url_for('signin') }}" class="navbar-item"> Sign In </a>
                        <a href="{{ url_for('signup') }}" class="navbar-item"> Sign Up </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </div>
</body>

</html>