{% extends "layout.html" %}
{%block bootstrap %}
<script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{%endblock%}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-menu navbar-end ml-auto">
    <a class="btn btn-outline-light my-2 my-sm-0 " href="{{ url_for('index') }}">Home</a>
    <a class="btn btn-outline-light my-2 my-sm-0 " href="{{ url_for('signin') }}">Sign Out</a>
  </div>
</nav>
<table class="table table-bordered " style="margin: 2%;width:95%">
  <thead class="thead-dark">
    <tr>
      <th scope="col">IP Address</th>
      <th scope="col">Country</th>
      <th scope="col">Fullname</th>
      <th scope="col">Language</th>
      <th scope="col">D.O.B</th>
      <th scope="col">Symptoms</th>
      <th scope="col">Exposures</th>
      <th scope="col">Medical Conditions</th>
    <tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <td>{{ subject.ip_address }}</td>
      <td>{{ subject.country }}</td>
      <td>{{ subject.fullname }}</td>
      <td>{{ subject.language }}</td>
      <td>{{ subject.dob }}</td>
      <td>{{ subject.symptoms }}</td>
      <td>{{ subject.exposures }}</td>
      <td>{{ subject.conditions }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}