{% extends "layout.html" %}
{%block bootstrap %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{%endblock%}
{% block content %}
<div style="width:60%; height:100%;z-index: -1;margin-left:5%;position: absolute;">
  <h1 class="display-3 text-info font-weight-bold" style="margin-top: 6%;text-align: center;">Welcome To Our
    Platform
  </h1>
  <p class="lead" style="margin-top: 10%;font-size:16px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis eget erat vel suscipit. Sed risus leo,
    rutrum nec lorem eget, luctus eleifend nulla. Phasellus et ultricies arcu. Nunc quis interdum purus.
    Pellentesque
    accumsan mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos.
    Integer vehicula vel nibh vel dictum. Curabitur nibh tellus, finibus id vestibulum sed, auctor vel orci. In sit
    amet orci enim. Suspendisse felis sem, aliquet vitae massa non, pulvinar dignissim magna. Cras quis bibendum mi.
    Aliquam scelerisque, neque sit amet commodo maximus, lectus risus feugiat tortor, in egestas augue sapien ut
    dui.
    Pellentesque quis purus felis. Maecenas vulputate finibus vulputate. Sed justo mauris, luctus eget tincidunt ac,
    consequat quis lacus. Proin id purus quam.
  </p>
</div>

<div class="col-sm-3 col-sm-offset-4 pull-right frame">
  <ul style="margin-top: 3px;"></ul>
  <div>
    <div class="msj-rta macro">
      <div class="text text-r" style="background:whitesmoke !important">
        <input class="mytext" placeholder="Type a message" />
      </div>
    </div>
    <div style="padding:10px;padding-right:15px;">
      <span class="glyphicon glyphicon-share-alt"></span>
    </div>
  </div>
</div>
<script src="../static/js/main.js"></script>
{% endblock%}